body{
  width: 80%;
  position: relative;
  left: 10%;
  color: rgb(96,96,96);
  font-family: Hind, sans-serif;
}
header{
  height: 150px;
  width:79%;
  display:inline-block;
  font-weight: bold;
}
nav{
  height: 150px;
  width:19%;
  display: inline-block;
  vertical-align: bottom;
  font-size: 20px;
}
aside{
  border-top: 2px solid rgb(96,96,96);
  border-bottom: 2px solid rgb(96,96,96);
  display: block;
  height: 80px;
  width: 98.3%;
  position: relative;
  top: 4px; 
}
section{
  height: 600px;
  width: 98.3%;
  position: relative;
  top: 8px;
  border-bottom: 2px solid rgb(96,96,96);

}
footer{
  display: block;
  width:98.3%;
  position: relative;
  top: 12px;
  border-bottom: 2px solid rgb(96,96,96);
}

#bodyText{
  font-size: 20px;
}
img{ 
  float:left;
  margin-left: 0px;
  margin-right: 0px;
}

header>p{
  display:inline;
  font-size: 100px;
}
a:hover{
  color: rgb(96,96,96);
  text-decoration: underline;
}
.currentpage{
  text-decoration: underline;
}
a{
  text-decoration: none;
  color: rgb(0,153,50);
}
h2{
  font-size: 30px;
  color: rgb(0,153,50);
  margin-bottom: 10px;
}
h3{
  font-size: 22px;
  margin-top: 0px;
  margin-bottom: 0px;
}
h4{
  font-size: 18px;
  margin-top: 0px;
  margin-bottom: 0px;
}
ul{
  margin-top: 0px;
}
table{
  margin-top:0px;
  width: 100%;
  vertical-align: top;
  font-weight: bold;
}
nav>div{
  position: relative;
  top: 74px;
  text-align: center;
}
nav>div>p{
  display: inline;
  font-weight: bold;
}
footer>p{
  display:inline-block;
  width: 76%;
  font-size: 14px;
}
#contact{
  display: inline;
}
.faded{
  opacity: 0.3;
}